* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #faf3e4;
}
.main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.main .img{
    padding-left: 36%;
    margin-top: 2rem;
}
.main .title {
    padding-left: 20%;
    text-transform: uppercase;
    margin-top: 1rem;
    border-bottom: 1px solid #c5e0e2;
}
.main .content {
    font-family: sans-serif;
    margin-top: 2rem;
}
.main h2 {
    color: #d8703e;
    margin-bottom: 1rem;
}
.main p {
    margin-bottom: 1rem;
}
.main h4 {
    font-weight: 500;
}